<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class = "bg-info text-white">
    <div class = "text-center">     
        <h1 class="mt-5">Weather App </h1>
        <form action="/" method ="post">
            <div class="container">
                <div class="row">
                    <div class ="col-sm"> 
                        <input type = "text" id ="city" name = "city" placeholder = "city" value = "{{data.city}}"
                        class="form-control" required>
                    </div>
                     
                    <div class ="col-sm">
                        <input type = "text" id = "country" name = "country" placeholder = "country" value = "{{data.country}}"
                        class="form-control" required>
                    </div>
                </div>
            </div><br>
            <button class="btn btn-dark">Find</button>
        </form>
        {% if data.weather_data %}
        The weather in {{data.city}}, {{data.country}} is: {{ data.weather_data.description }}
        {{data.weather_data.temperature}} C
        <img src="https://openweathermap.org/img/wn/{{data.weather_data.icon}}@2x.png" alt = "Icon"> 
        {% endif %}
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>